name: 'GitHub Actions HBUAS_Ele_fees'

on:
  watch:
    types: started
  push:
  schedule:
    - cron: '30 3 * * *'

jobs:
  bot:
    runs-on: ubuntu-latest
    steps:
        - name: 'Checkout codes'
          uses: actions/checkout@v1
        - name: 'Set up Python'
          uses: actions/setup-python@v1
          with:
            python-version: '3.8'
        - name: 'Install requirements'
          run: |
            python -m pip install --upgrade pip
            pip install -r requirements.txt
        - name: 'AutoClick'
          env:
            sender: ${{ secrets.SENDER }}
            password: ${{ secrets.PASSWORD }}

          run: python main.py
